In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = tuple()

In [4]:
type(t1)

tuple

In [5]:
t2 = (2,3,4,5)

In [6]:
type(t2)

tuple

In [7]:
len(t2)

4

In [8]:
t3 = (2,3,4,34.45,"sudh" , 34+78j,True , [3,4,5])

In [9]:
t3[0]

2

In [10]:
l = [3,4,5,6,7]

In [13]:
t3[0] = "sudhanshu"

TypeError: 'tuple' object does not support item assignment

In [14]:
l[0] = "sudhanshu"

In [15]:
t3

(2, 3, 4, 34.45, 'sudh', (34+78j), True, [3, 4, 5])

In [16]:
t3[-1]

[3, 4, 5]

In [17]:
t3[0:4]

(2, 3, 4, 34.45)

In [18]:
t3[::-1]

([3, 4, 5], True, (34+78j), 'sudh', 34.45, 4, 3, 2)

In [19]:
t3.count(3)

1

In [20]:
t3.index(4)

2

In [21]:
t3

(2, 3, 4, 34.45, 'sudh', (34+78j), True, [3, 4, 5])

In [22]:
tuple("sudh")

('s', 'u', 'd', 'h')

In [23]:
tuple(["sudh" , 3,4,5])

('sudh', 3, 4, 5)

In [24]:
t3

(2, 3, 4, 34.45, 'sudh', (34+78j), True, [3, 4, 5])

In [25]:
list(t3)

[2, 3, 4, 34.45, 'sudh', (34+78j), True, [3, 4, 5]]

In [27]:
t4 = (3,4,3,2,3,4,5,6,6)

In [28]:
max(t4)

6

In [29]:
min(t4)

2

In [30]:
sum(t4)

36

In [31]:
t3

(2, 3, 4, 34.45, 'sudh', (34+78j), True, [3, 4, 5])

In [32]:
sum(t3)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [34]:
tuple(reversed(t3))

([3, 4, 5], True, (34+78j), 'sudh', 34.45, 4, 3, 2)

In [35]:
t4

(3, 4, 3, 2, 3, 4, 5, 6, 6)

In [36]:
sorted(t4)

[2, 3, 3, 3, 4, 4, 5, 6, 6]

In [38]:
((1,2,4,5,6),4,5,6,(34,5,6))

((1, 2, 4, 5, 6), 4, 5, 6, (34, 5, 6))