In [2]:
range(1,11)

range(1, 11)

In [3]:
list(range(1,15,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
l=[1,2,3,4,5]
5 in l

True

In [5]:
for i in l:
    print(i)
    print(i+1)
    print(type(i))

1
2
<class 'int'>
2
3
<class 'int'>
3
4
<class 'int'>
4
5
<class 'int'>
5
6
<class 'int'>

In [6]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [7]:
fruits = ['apple', 'banana', 'cherry']
for j in fruits:
    print(j)

apple
banana
cherry

In [8]:
num = [1,2,3,43,5]
for i in num:
    print(i)

1
2
3
43
5

In [9]:
str = "prince katiyar "
for i in str:
    print(i)

p
r
i
n
c
e

k
a
t
i
y
a
r

In [10]:
tup = (1,234,5)
for i in tup:
    print(i)

1
234
5

In [11]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for i,j in my_dict.items():
    print(i,j)

a 1
b 2
c 3

In [12]:
number = int(input("enter the number for which i table your want "))

for i in range(1,11):
    print(f"{number}*{i}={number * i }")

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for index  ,i in enumerate(fruits):
    print(index,i)   # python tutor

0 apple
1 banana
2 cherry

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l=[]
for i in numbers:
    if i%2 ==0:
        print(i)

2
4
6
8
10

# nested loops

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
    for j in range(1,3):
        print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
2*1=2
2*2=4
3*1=3
3*2=6
4*1=4
4*2=8
5*1=5
5*2=10
6*1=6
6*2=12
7*1=7
7*2=14
8*1=8
8*2=16
9*1=9
9*2=18
10*1=10
10*2=20

In [ ]:
colors =["red","pink","blue"]
sizes =["s","m","l"]
for color in colors:
    for size in sizes:
        print(f"{color} {size}")

red s
red m
red l
pink s
pink m
pink l
blue s
blue m
blue l

# while

In [ ]:
x = 5
while x>2 :
    print(x)
    x -=1

5
4
3

In [ ]:
x = 5
while x<10 :
    print(x)
    x +=1

5
6
7
8
9

In [ ]:
start = 0 
end = 11
while start < end:
    print(start +10 )
    start +=1

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
fruits = ['mango','apple', 'banana', 'cherry']
while fruits:
    print(fruits.pop())

cherry
banana
apple
mango

In [ ]:
x = 4 
while True :
    print(x)
    if x >= 10 :
        break 
    x+=1

4
5
6
7
8
9
10

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
while my_dict:
    key,value = my_dict.popitem()
    print(f"this is {key}:{value}")

this is c:3
this is b:2
this is a:1

In [ ]:
num = -1
while num <= 0 :
    num = int(input("entr the number you want "))

print("this is your  number ",num)

this isyour  number  5

In [ ]:
x = 5
while x<10 :
    print(x)
    x +=1

else:
    print("condition is failed")

5
6
7
8
9
condition is failed

In [ ]:
x,y = 0,10 
while x<5 and y>5 :
    print(f"x:{x} and y:{y}")
    x=x+1
    y=y-1

x:0 and y:10
x:1 and y:9
x:2 and y:8
x:3 and y:7
x:4 and y:6

# Break:

In [ ]:
x = 5
while x < 10 :
    print(x )

    if x ==7:
        print("ki bhaiya conditon mil gyi ")
        break 
        print("this is inside the loop")
    x +=1 

print("this is out of loop ")

5
6
7
ki bhaiya conditon mil gyi
this is out of loop

In [ ]:
for i in range(10):
    print(i)
    if i==7:
        print("7 mil chuka h age mt executre krao ")
        break
        print("this is inside the loop ")

print("y to loop k bahr h ")

0
1
2
3
4
5
6
7
7 mil chuka h age mt executre krao
y to loop k bahr h

In [ ]:
ball_faced = 0
runs_scored = 0 

while ball_faced<6:
    ball_faced += 1
    run =int(input(f"run scored {ball_faced}"))

    if run ==  -1:
        print("your innining is over")
        break 

    runs_scored +=run 

print(runs_scored)

your innining is over
13

In [ ]:
x = 0 
while x <10 :
    x+=1 
    if x %2 ==0 :
        

      
        continue
    print(x)

1
3
5
7
9

In [ ]:
for i in range(1,11):
    if i%2 == 0:
        break
    print(i)

1

In [ ]:
ball_faced = 0
runs_scored = 0 

while ball_faced<6:

    run =int(input(f"run scored {ball_faced+1}"))

    if run ==  -1:
        print("this is wide ball and {ball_faced} and this will not count ")
        continue

    runs_scored +=run 
    ball_faced += 1

print(runs_scored)

this is wide ball and {ball_faced} and this will not count
this is wide ball and {ball_faced} and this will not count
this is wide ball and {ball_faced} and this will not count
this is wide ball and {ball_faced} and this will not count
28

# pass

In [ ]:
x= 7
if x > 5 :
    pass
else:
    print("okk")

In [ ]:
for i in range(3):
    pass
x=3
if x ==3:
    print(x)

3

In [ ]:
def myfun(x):
    pass


myfun(4)

In [ ]:
class myclass:
    pass
    

c = myclass()

# excercise

In [ ]:

sum = 0 
for i in range(1,51):
    if i % 2 !=0:
        continue
  
    sum =sum +i

print(f"sum of the sumber is {sum} ")

sum of the sumber is 650

In [ ]:
for i in range(10,51):
    if i % 7 ==0:
        print(f"this sis the first multiple of 7 {i}")
        break
    print(i)

10
11
12
13
this sis the first multiple of 7 14

In [ ]:
text = " An apple a day keeps a dockter away"

count_a = 0
for char in text:
    if char !='a' and char !="A":
             continue
        
        
    count_a +=1
print(count_a)

7

In [ ]:
for num in range(10,31):
    if num >1 :
        for i in range(2,num):
            if num % i ==0:
                break  # not pirme 

        else:
            print(num)  # prime number

11
13
17
19
23
29

In [ ]:
l=[1,2,3,4,-1,5,6,7,8]
sum=0
for i in l:
    if i == -1 :
        print(i)
        print("negative value")
        break
    sum =sum+i
print(sum)

-1
negative value
10

# while loop

number = 12345

In [1]:
number = 12345
reverse = 0
while number >0:
    remainder = number%10 
    reverse = (reverse*10)+ remainder
    number //=10 


print(reverse)

54321

In [2]:
number = 12345

sum = 0
while number >0:
    sum += number %10 
    number //= 10 

print(sum)

15

In [6]:
import time 

countdown = 10 
while countdown >0 :
    print(countdown)
    time.sleep(1)
    countdown -= 1


print("time up's")

10
9
8
7
6
5
4
3
2
1
time up's