In [14]:
a = 'learning logic'

In [8]:
type(a)

str

In [13]:
a = '''
learning logic 
    is 
    my channel 

    re
    e
    re
    re
    e
    ee
    
'''

In [15]:
type(a)

str

In [25]:
s = "learning logic"
len(s)

14

In [28]:
s[-6]

' '

In [31]:
p = "prince katiyar"
p[-2]
p[12]

'a'

In [41]:
s ="PythonProgramming"

In [42]:
s[6]

'P'

In [53]:
s[17]

IndexError: string index out of range

In [43]:
s [0:5]

'Pytho'

In [44]:
s[0:2]

'Py'

In [49]:
s[:5]

'Pytho'

In [56]:
s= "prince "
s[0:6:2]

'pic'

In [57]:
s[0:6:3]

'pn'

In [59]:

s[6:0:-1]

' ecnir'

In [61]:

s[::-1]

' ecnirp'

In [62]:
s = "abcdefghij"
s[-5:-2]

'fgh'

In [63]:
s[-5:]

'fghij'

In [74]:
s = "abcdefghij"
s[-2:-5:-1][2]

'g'

In [76]:
s = "abcdefg"

In [77]:
s[-3:]

'efg'

In [78]:
s[-5:-2]

'cde'

In [ ]:
s[-5:-2]

In [81]:
s[4::-1]   # s = "abcdefg"

'edcba'

In [ ]:
s = "abcdefg"
s[::-1]  # Output: "gfedcba"

In [ ]:
s = "abcdefg"
s[::-1]  # Output: "gfedcba"

In [ ]:
s = "abcdefghij"
s[:5][::-1]  # Output: "edcba"

In [ ]:
s = "abcdefghij"
s[:5][::-1]  # Output: "edcba"

In [ ]:
s[-5:-2][::-1]

In [33]:
s = "abcdefghij"
s[-6:-1]

'efghi'

In [34]:
s = "abcdefghij"
s[-1:-6]

''

In [36]:
s = "abcdefghij"
s[-1:-6:-1]

'jihgf'

In [39]:
s = "abcdefghij"
# Extract substring from the end and reverse it
s[-5:][::-1]  # Output: "jihgf"

'jihgf'

In [40]:
s[-16]

IndexError: string index out of range

In [ ]:
#

# operators in python

In [30]:
# concatenation
a= 'katiyar' 
b ="prince"

In [31]:
b+a

'princekatiyar'

In [32]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [33]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [40]:
# repeition 

a = 3
b = "prince"

In [41]:
a*b

'princeprinceprince'

In [42]:
# loopoing 

str= "learning logic"
for i in str:
    print(i)

l
e
a
r
n
i
n
g

l
o
g
i
c

In [44]:

str= "learning logic"
i=0
while i <len(str):
    print(str[i])
    i=i+1

l
e
a
r
n
i
n
g

l
o
g
i
c

In [47]:
str = "princekatiyar"
if "rim" not in str:
    print("yes")

yes

In [ ]:
# comparison opearator

== , != , <= ,> . <

In [51]:
str1="prince"
str2="Prince"

In [52]:
str1==str2

False

In [54]:
str1>str2

True

In [38]:
# case conversion 


str = "prince katiyar is a data scientist"
str.upper()

str.lower()
str.capitalize()
str.title()
str.swapcase()

'PRINCE KATIYAR IS A DATA SCIENTIST'

In [11]:
# string checking 


str = "princekatiyar"
#str.isalpha()
str.isalnum()
str.islower()
# str.isupper()
# str.isspace()
# str.istitle()
# str.isdecimal()
# str.isnumeric()

True

In [13]:
str = "princekatiyar1"
str.isalpha()
str.isdigit()

False

In [16]:
#string manipulations 


str = "  princekatiyar    "
str.strip()
str.lstrip()
str.rstrip()

'  princekatiyar'

In [17]:
str = "princekatiyar"
str.replace("katiyar","katiyr")

'princekatiyr'

In [31]:
str = "pri:nce,katiyar"
str.split(":")  #  list

['pri', 'nce,katiyar']

In [37]:
str = ["prince","katiyar","prince"]
"-".join(str)  # string

'prince-katiyar-prince'

In [6]:
#searching 
str = "prince katiyark katiyark"
str.rfind("katiyark")  # it  give index of last occurence of string

16

In [9]:

#searching 
str = "prince katiyark katiyark"
str.find("m")

-1

In [10]:

str = "prince katiyark katiyark"
str.index("n")

3

In [ ]:
str.rindex()

In [14]:
# foramting 

str = "prince katiyark katiyark"
str.center(40,"*")
str.ljust(40,"*")
str.rjust(40,"*")

'****************prince katiyark katiyark'

In [18]:
str= "hello prince ,{} and age is {}".format("katiayr", 26)
str

'hello prince ,katiayr and age is 26'

In [19]:
name = "prince"

f"hello {name}"

'hello prince'

In [22]:
name = "prince"
len(name)
max(name)
chr(64)

'@'

In [25]:
str = "prince", "katiyark" ,"katiyark"
min(str)
max(str)

'prince'

In [31]:
# cose converion 

str = "Prince kaTiayr "
str.upper()
str.lower()
str.capitalize()
str.title()
str.swapcase()

'pRINCE KAtIAYR '

In [36]:
# string checking 


str = "princeka8tiyar"
str.isalpha()
str.isalnum()
str.islower()
# str.isupper()
# str.isspace()
# str.istitle()
# str.isdecimal()
# str.isnumeric()

True

In [42]:
# string Maniution

str = "  prince katiyar        "
str.strip()
str.lstrip()
str.rstrip()

str.replace("katiyar","katiyr")

'  prince katiyr        '

In [49]:
str = "prince : katiyar"
str.split()

['prince', ':', 'katiyar']

In [55]:
str=['prince', ':', 'katiyar' ,"prinde"]
"#".join(str)

'prince#:#katiyar#prinde'

In [62]:
#strinf searching 


str = "prince katiyark katiyark"
str.find("katiyark")
str.rfind("katiyark")
str.index("katiyark")
str.rindex("katiyark")

16

In [58]:
str.find("m")

-1

In [59]:
str.index("m")

ValueError: substring not found

In [72]:
name ="prince"
age= 25

str ="my name  is and my age is "

str.format(name,age 
           )

'my name  is and my age is '

In [73]:
f"my name is {name} and my age is {age}"

'my name is prince and my age is 25'

In [80]:

str ="mynameis" ,"andmyageisA"

In [81]:
# built in funtions

len(str)
max(str)
min(str)

'andmyageisA'

In [1]:
# chekc whthre the string is plaindrone or not:

str = "madam"
if str==str[::-1] :
    print("yes it is ")

else:
    print("not it is not")

yes it is

In [2]:
def count_word(str):
    words=str.split()
    word_count={}
    for i in words:
        word_count[i] = word_count.get(i , 0)+ 1
    return word_count

count_word("hello world this is python classs hello everyone")

{'hello': 2,
 'world': 1,
 'this': 1,
 'is': 1,
 'python': 1,
 'classs': 1,
 'everyone': 1}

In [7]:
# logest word in a sentence :M
def longest(str):
    words= str.split()
    return min(words, key =len)
longest("this i s prince katiyar class for python ")

'i'

In [8]:
def last(str):
    words = str.split()
    if words :
        return len(words[-1])
    else:
        return "no words"
    

last("this is my python classs")

6

 ### The `eval()` function in Python is used to evaluate a string as a Python expression. It parses the expression passed to this method and executes Python expression(s) passed as a string.

*When to use:*

1. *Dynamic calculations*: When you need to perform calculations based on user input or dynamic data.
2. *Config file parsing*: To parse configuration files containing Python expressions.
3. *Scientific computing*: To evaluate mathematical expressions in scientific computing.

*Why to use:*

1. *Flexibility*: Allows for dynamic evaluation of expressions.
2. *Convenience*: Simplifies parsing and evaluating complex expressions.

*Data types expected:*

1. *String*: The input to `eval()` should be a string containing a valid Python expression.
2. *Expression*: The string should contain a valid Python expression, such as arithmetic operations, function calls, or variable assignments.

*Example usage:*

1. *Simple calculation*: `eval("2 + 3") # returns 5`
2. *Dynamic calculation*: `user_input = "2 * 3"; eval(user_input) # returns 6`
3. *Config file parsing*: `config = "x = 5"; eval(config); print(x) # prints 5`

*Important notes:*

1. *Security risk*: Be cautious when using `eval()` with user-supplied input, as it can evaluate any Python expression, potentially leading to security vulnerabilities.
2. *Performance*: `eval()` can be slower than other methods, like using `ast.literal_eval()` for simple expressions.

In [20]:
b = 7
a=int(input())
print(a)
type(a)

5

int

In [21]:
b +a

12

In [9]:
a = input("enter the value you want")
b = 6
result = eval(a)
print(result)
type(result)

55

int

In [4]:
result + b

11

In [11]:
a = eval ("2+3+4")
print(a)

9

In [12]:
x = 7 
eval("x + 5")

12

In [14]:
a = eval ("len('hello world')")
print(a)

11

# Del vs None

In [20]:
x = 5
del x 
print(x )

NameError: name 'x' is not defined

In [23]:
l=[1,2,3]
del l[1]

In [24]:
l

[1, 3]

In [27]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']

In [28]:
my_dict

{'a': 1, 'c': 3}

In [ ]:
# None : it is data type

In [39]:
x = None 
print(x)
type(x)

x = 5 
print(x)
type(x)

None
5

int

In [44]:
x= None

if x is None:
    print("x in none now")
else:
    print("x si not none ")

x in none now

In [32]:
x = True
print(True)
type(x)

True

bool

In [37]:
x ="prince"
type(x)

str

In [ ]:
#

### Common Escape Characters in Python

1. **Newline (`\n`)**
    - Inserts a new line in the text.
    - Example: `"Hello\nWorld!"` will be printed as:

In [37]:
print("this is my\npython class")

this is my
python class

In [39]:
print("this is my\npython clas and\n i will cover each and everytopic in that playlsit")

this is my
python clas and
 i will cover each and everytopic in that playlsit

In [38]:
print(r"this is my\npython class")

this is my\npython class

2. **Tab (`\t`)**
    - Inserts a horizontal tab space.
    - Example: `"Hello\tWorld!"` will be printed as:

In [42]:
print("this is my\tpython clas and\t i will cover each and everytopic in that playlsit")

this is my	python clas and	 i will cover each and everytopic in that playlsit

3. **Backslash (`\\`)**
    - Inserts a backslash character (`\`).
    - Example: `"This is a backslash: \\"` will be printed as:

In [45]:
print("this is my\\python clas and\\i will cover each and everytopic in that playlsit \\")

this is my\python clas and\i will cover each and everytopic in that playlsit \

4. **Single Quote (`\'`)**
    - Inserts a single quote character.
    - Example: `"It\'s a sunny day"` will be printed as:

In [47]:
print("this is mypython 'clas and i will cover' each and everytopic in that playlsit")

this is mypython 'clas and i will cover' each and everytopic in that playlsit

5. **Double Quote (`\"`)**
    - Inserts a double quote character.
    - Example: `"He said, \"Hello!\""` will be printed as:

In [49]:
print("this is my \" python clas and \" i will cover each and everytopic in that playlsit")

this is my " python clas and " i will cover each and everytopic in that playlsit

6. **Carriage Return (`\r`)**
    - Moves the cursor to the beginning of the line without advancing to the next line.
    - Example: `"Hello\rWorld!"` will overwrite "Hello" with "World!", so it will be printed as:

In [52]:
print("this is my python clas andi will cover each and \reverytopic in that playlsit")

everytopic in that playlsit will cover each and

7. **ackspace (`\b`)**
    - Moves the cursor one position back (deletes the previous character).
    - Example: `"Hello\b World!"` will be printed as:

In [54]:
print("this is my python clas and\b i will cover each and everytopic in that playlsit")

this is my python clas an i will cover each and everytopic in that playlsit

8. **Form Feed (`\f`)**
    - Moves the cursor to the next line and to the beginning of the line.
    - Example: `"Hello\fWorld!"` will be printed as:

In [55]:
print("this is my python clas and\f i will cover each and everytopic in that playlsit")

this is my python clas and i will cover each and everytopic in that playlsit

# Regex

# import re

##.2 **Special Sequences**

- **`\d`**: Matches any digit (0-9).
- **`\D`**: Matches any non-digit character.
- **`\w`**: Matches any alphanumeric character plus underscore.
- **`\W`**: Matches any non-alphanumeric character.
- **`\s`**: Matches any whitespace character.
- **`\S`**: Matches any non-whitespace character.

# 1. re.match()
The re.match() function checks for a match only at the beginning of the string.

In [29]:
import re 

pattern = r"\d+"  # Matches one or more digits
string = "1234abc456"

match=re.match(pattern , string)
match.group()

'1234'

# 2. re.search()
The re.search() function scans through the string and returns the first match it finds.

In [27]:
import re 

pattern = r"\d+"  # Matches one or more digits
string = "abc1234abc456"
search = re.search(pattern, string)
search.group()

'1234'

# 3. re.findall()
The re.findall() function returns all matches of the pattern in the string as a list.

In [31]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"
match = re.findall(pattern, string)
match

['123', '456', '789']

In [ ]:
 #

# 4. re.finditer()
The re.finditer() function returns an iterator yielding match objects for each match.

In [35]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"

match = re.finditer(pattern, string )
for i in match:
    print(i.group() , i.span())

123 (3, 6)
456 (9, 12)
789 (15, 18)

# 5. re.sub()
The re.sub() function replaces all occurrences of the pattern with a specified string.

In [37]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"

new= re.sub(pattern , "#", string)
new

'abc#def#ghi#'

# 6. re.split()
The re.split() function splits the string at each occurrence of the pattern.

In [38]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"
splits = re.split(pattern , string )
splits

['abc', 'def', 'ghi', '']

# ### 4. **Common Regex Patterns**

- **Email Validation**: `r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"`
- **URL Validation**: `r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"`
- **IP Address Validation**: `r"\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"`

# 5.1 Extracting All Emails from a Text

In [40]:
text = "Please contact us at support@example.com or sales@example.co.uk. or  princekatiyar9393@gmail.com"
email_pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
email=re.findall(email_pattern,text)
email

['support@example.com', 'sales@example.co.uk.', 'princekatiyar9393@gmail.com']

# 5.2 Replacing All Digits with a Character

In [41]:
number = "23-2-943 this is my phon enumber " 
re.sub(r"\d","*",number)

'**-*-*** this is my phon enumber '

# 5.3 Splitting a String by Multiple Delimiters

In [44]:

text = "apple, orange; banana|grape"
split_pattern = r"[,;|]"
fruits = re.split(split_pattern, text )
fruits

['apple', ' orange', ' banana', 'grape']