### **Ways to Create a Tuple**

There are four primary ways to create a tuple in Python:

1. **Using Parentheses:**
    
    You can create a tuple by placing a sequence of values separated by commas within parentheses.
    
    ```python
    
    my_tuple = (1, 2, 3)
    print(my_tuple)  # Output: (1, 2, 3)
    
    ```
    
2. **Without Parentheses (Comma-separated values):**
    
    Parentheses are optional when defining a tuple, but itâ€™s common practice to use them for clarity.
    
    ```python

    my_tuple = 1, 2, 3
    print(my_tuple)  # Output: (1, 2, 3)
    
    ```
    
3. **Using the `tuple()` Constructor:**
    
    You can create a tuple from any iterable (like a list, string, etc.) using the `tuple()` constructor.
    
    ```python
   
    my_tuple = tuple([1, 2, 3])
    print(my_tuple)  # Output: (1, 2, 3)
    
    ```
    
4. **Empty Tuple:**
    
    You can create an empty tuple by using empty parentheses.
    
    ```python
  
    empty_tuple = ()
    print(empty_tuple)  # Output: ()
    
    ```

### Creating a tuple using parentheses

In [89]:
t=(1,23,4)

t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [85]:
type(t)

tuple

In [88]:
l = [1,2,3,4]
l[0]=5
l

[5, 2, 3, 4]

In [92]:
t=(1,23,4,"prince",True, 1,4)
t

(1, 23, 4, 'prince', True, 1, 4)

In [93]:
t[3]

'prince'

In [94]:
t=(1,23,4)

### Creating a tuple without parentheses (tuple packing)

In [95]:
t = 12,3,4,5,5

In [96]:
type(t)

tuple

### Creating a tuple using the tuple() constructor

In [97]:
l

[5, 2, 3, 4]

In [3]:
t1= tuple([1,2,3])

In [4]:
type(t1)

tuple

###  Creating an empty tuple

In [9]:
et =(1)

In [10]:
type(et)

int

In [11]:
len(et)

TypeError: object of type 'int' has no len()

###  Creating a single element tuple

In [12]:
t = (1,)

In [13]:
len(t)

1

###  Creating a nested tuple

In [15]:
nes = ((1,2),(3,4),(5,6))
type(nes)

tuple

In [16]:
nes[0][1]

2

**Rules and Importance**

- **Immutable Nature:**
Tuples' immutability ensures data integrity, making them suitable for representing constant data that shouldn't change.
- **Tuple as Dictionary Keys:**
Because of their immutability, tuples can be used as keys in dictionaries, whereas lists cannot.
- **Unpacking:**
Tuples support easy unpacking into variables, which is handy when returning multiple values from a function.


### Tuples as Dictionary Keys: Since tuples are immutable, they can be used as keys in dictionaries.

In [ ]:
dict  = {1:4,2:5,3:6}

In [17]:
dict1= {(1,2):"a",(3,4):"b"}

In [18]:
data = {("prince","rajat"):"mamager",("rajat","prince"):"employee"}

 When We Don't Want to Change the Value:
Scenario: Tuples are ideal for storing data that should remain constant throughout the execution of a program. Once a tuple is created, its values cannot be modified, which ensures data integrity.

. Returning Multiple Values from a Function:
Scenario: Tuples are often used to return multiple values from a function. Since tuples are immutable, they ensure that the returned data remains consistent and protected from unintended changes.

In [19]:
def my_func():
    name ="prince",
    age =23,
    grade = "a"
    return name,age,grade 

my_func()

(('prince',), (23,), 'a')

- **When to Use Tuple Packing and Unpacking:**
    - When you have a set of related data that you want to treat as a single unit.
    - When you want to pass or return multiple values as a single entity without creating additional data structures like lists or dictionaries.
    - When you want to perform operations like swapping values in a concise manner.
- **Why to Use Tuple Packing and Unpacking:**
    - It simplifies code, reduces the need for additional variables, and keeps related data grouped together.
    - It enhances code readability and maintainability by avoiding unnecessary data structures.
    - It's an efficient way to handle multiple values, especially in functions where you need to return or pass several pieces of information.

In [25]:
student = "prince",25,"a"  ,"arvind " # packing 

# unpacking 
name , age , grade = student

In [26]:
def student ():
    name = "prince"
    age = 25
    grade = "a"
    return name,age,grade

student()

('prince', 25, 'a')

In [29]:
a = 5
b =6

a,b =b,a 
a
b

5

In [30]:
a

6

In [31]:
nes = ((1,2),(3,4),(5,6))

In [34]:
# indexing 

nes[-1][-1]

6

In [38]:
nes [2:0:-1]

((5, 6), (3, 4))

In [41]:
t =1,2,23,534,34343,32,5

In [42]:
t[5]

32

### 1. Mutability

In [44]:
l =[1,23,4]

In [45]:
l [1]=89

In [46]:
l

[1, 89, 4]

In [47]:
t =1,2,4

In [48]:
t[0]=43

TypeError: 'tuple' object does not support item assignment

### 3. **Performance**

- **List:** Slower due to extra functionality like mutability.
- **Tuple:** Faster due to immutability, making them more memory efficient.

In [49]:
import timeit

print(timeit.timeit(stmt="[1, 2, 3, 4, 5]", number=1000000))

print(timeit.timeit(stmt="(1, 2, 3, 4, 5)", number=1000000))

0.03366137502598576
0.004652707983041182

### 4. **Functions and Methods**

- **List:** Has more built-in methods like `append()`, `remove()`, `pop()`, etc.
- **Tuple:** Has fewer built-in methods (e.g., `count()`, `index()`).

In [50]:
l.append(5)

In [51]:
l

[1, 89, 4, 5]

In [52]:
t.count(1)

1

### 5. **Usage**

- **List:** Used when you need a collection that can be modified (e.g., adding, removing, or updating elements).
- **Tuple:** Used when you need a collection that should not change (e.g., fixed data, dictionary keys).

### 6. **Memory Usage**

- **List:** Consumes more memory because of the extra overhead for mutability.
- **Tuple:** Consumes less memory due to immutability.

In [53]:
import sys
l=[1,2,3,4,5]
sys.getsizeof(l)

104

In [54]:
import sys
t=(1,2,3,4,5)
sys.getsizeof(t)

80

# Indexing and Slicing Tuples in Python

### 6. **Methods**

Tuples have limited methods due to their immutability:

t =

In [56]:
t = (1,2,3,3,4,5)
t.count(3)

2

count(x): Returns the number of times x appears in the tuple.

index(x): Returns the index of the first occurrence of x.

In [57]:
t = (1,2,3,3,4,5)
t.index(3)

2

### 5. **Operators and Functions**

- **Operators:**
    - **Concatenation (`+`)**: Combines two tuples.
        

        
    - **Repetition (``)**: Repeats the elements of the tuple a given number of times.
        

        
    - **Membership (`in`)**: Checks if an element is in the tuple.

In [58]:

tuple1 = (1, 2)
tuple2 = (3, 4)

tuple1 +tuple2

(1, 2, 3, 4)

In [62]:
tuple1 * 3

(1, 2, 1, 2, 1, 2)

In [64]:
6 in tuple1

False

-  ### **Functions:**
    - **`len()`**: Returns the length of the tuple.
        

        
    - **`max()`**: Returns the largest element.
        

        ```
        
    - **`min()`**: Returns the smallest element.

        
    - **`sum()`**: Returns the sum of elements.
        

        
    - **`sorted()`**: Returns a new sorted list from elements in the tuple.

In [65]:
tuple1

(1, 2)

In [66]:
len(tuple1)

2

In [67]:
max(tuple1)

2

In [68]:
min(tuple1)

1

In [69]:
sorted(tuple1)

[1, 2]

In [70]:
sum(tuple1)

3

# coding questions

### Question: Write a function that returns the first and last elements of a tuple.

In [3]:
def lettrs(t):
    return t[0] , t[-1]



tuple = (1,2,3,4,5,6)
lettrs(tuple)

(1, 6)

### Question: Given a tuple of tuples, each containing two integers, write a function that returns a tuple with the sums of each inner tuple.

In [1]:

def top(t):
    return tuple(sum(i) for i in t)

tup_tip =((1,2),(3,4),(6,7))
print(top(tup_tip))

(3, 7, 13)

### Question: Given a tuple with multiple elements, write a function that finds and returns the tuple with the maximum sum of its elements.

In [3]:
def max_tuple (t):
    return max(t , key=lambda x : sum(x))


tuple_list = [(1, 2, 3), (4, 5), (6, 7, 8, 9), (10,)]
max_tuple(tuple_list)

(6, 7, 8, 9)

### .  Question: Write a function that takes a tuple of strings and returns a tuple where each string is reversed.

In [5]:
def reve(t):
    return tuple(i[::-1] for i in t)

my_tuple = ('apple', 'banana', 'cherry')
reve(my_tuple)

('elppa', 'ananab', 'yrrehc')

In [ ]:
###