In [17]:
a =53242

In [13]:
a

9094208402380428

In [18]:
print(a)
print(a)
print(a)
print(a)

53242
53242
53242
53242

In [23]:
b=a+1
b

53243

In [24]:
print(a)
print(b)

53242
53243

In [25]:
53242+53243

106485

In [26]:
a+b

106485

In [30]:
a=b=c=1

In [28]:
a

1

In [31]:
a

1

In [32]:
b

1

In [33]:
c

1

In [34]:
a,b,c=1,2,3

In [35]:
a

1

In [36]:
b

2

In [37]:
c

3

In [38]:
a,b,*c=1,2,3,4,5

In [39]:
a

1

In [40]:
b

2

In [41]:
c

[3, 4, 5]

# naming conventions

In [65]:
a= 5

In [66]:
a

5

In [68]:
&a = 4

SyntaxError: invalid syntax (1710238434.py, line 1)

In [69]:
for = 4

SyntaxError: invalid syntax (2046953698.py, line 1)

In [70]:
while = 6

SyntaxError: invalid syntax (3765168999.py, line 1)

In [71]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [72]:
var_= 6

In [73]:
_var = 4

In [74]:
var = 6

In [75]:
1var = 5

SyntaxError: invalid decimal literal (4231524775.py, line 1)

In [77]:
2c= 4

SyntaxError: invalid decimal literal (3498082778.py, line 1)

In [78]:
a= 6
A= 7

In [79]:
a

6

In [80]:
A

7

# dynamic and bindng typing

In [7]:
a = "pirnce katiyar"

In [2]:
print(a)

5

In [8]:
type(a)

str

In [10]:
a = 3

In [11]:
type(a)

int

In [12]:
a = "print hello"

In [13]:
type(a)

str

In [14]:
a = [1,23,2]

In [15]:
type(a)

list

# keyword and indentifiers

In [17]:
import keyword
len(keyword.kwlist)

35

In [18]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [19]:
1h = 6

SyntaxError: invalid decimal literal (511451940.py, line 1)

# comments

In [ ]:

# 1. Single-line comments
# This is a single-line comment
x = 5  # This comment is at the end of a line of code

# 2. Multi-line comments using multiple single-line comments
# This is a multi-line comment
# spanning several lines
# using multiple '#' symbols

# Multi-line comment using a string (comment block)
"""
This is a multi-line comment
spanning several lines
using triple quotes
"""


# 3. Docstrings
def write(name):
    """
    This function greets the person passed in as a parameter.
    
    Parameters:
    name (str): The name of the person to write 
    
    Returns:
    str: A greeting message
    """
    return f"Hello, {name}!"

# Accessing the docstring
print(write.__doc__)


def fibonacci(n):
    """
    Generate the Fibonacci sequence up to n terms.
    
    This function uses dynamic programming to efficiently
    calculate Fibonacci numbers, avoiding recursive calls.
    """
    fib = [0, 1]  # Initialize the first two Fibonacci numbers
    for i in range(2, n):
        # Each number is the sum of the two preceding ones
        fib.append(fib[i-1] + fib[i-2])
    return fib

def apply_discount(price, customer_type):
    """
    Apply a discount based on the customer type.
    
    Discount rates:
    - 'regular': 0%
    - 'bronze': 5%
    - 'silver': 10%
    - 'gold': 15%
    """
    discounts = {'regular': 1, 'bronze': 0.95, 'silver': 0.9, 'gold': 0.85}
    return price * discounts.get(customer_type, 1)  # Default to no discount


# Types of Comments in Python

# Python supports three main types of comments: single-line, multi-line, and docstrings.

# 1. Single-Line Comments
# Single-line comments start with a '#' symbol and extend to the end of the line.
# They are used for brief explanations or annotations.

# Example:
# This function calculates the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# 2. Multi-Line Comments
# Multi-line comments can be written using multiple single-line comments or by using
# triple quotes ''' or """ if they are not being used as docstrings.
# However, using triple quotes for comments is generally discouraged as it can be
# confused with docstrings.

# Example with single-line comments:
# This function checks if a number is prime
# It returns True if the number is prime
# and False otherwise
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

# Note: While it's possible to use triple quotes for multi-line comments,
# it's not recommended. Here's an example of what NOT to do:
'''
This is a multi-line comment using triple quotes.
However, this style is discouraged because it can be confused with docstrings.
'''

# 3. Docstrings
# Docstrings are a special type of comment used to describe the purpose of a function,
# method, class, or module. They are enclosed in triple quotes and can span multiple lines.
# Docstrings are accessible via the __doc__ attribute and are used by tools like pydoc
# to generate documentation.

# Example:
def add(a, b):
    """
    This function adds two numbers.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.
    """
    return a + b



# Remember:
# 1. Use single-line comments for brief explanations.
# 2. Use multiple single-line comments for longer explanations spanning multiple lines.
# 3. Use docstrings for functions, methods, classes, and modules to provide
#    detailed documentation that can be accessed programmatically.

In [30]:
# Example:
# This function calculates the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    
factorial(5)

120

In [20]:
# Example:
# This function calculates the factorial of a number

In [28]:
def my():
    """ this is my name 
  
    this is my function for print my name 
    
    """
    print("this is my name ")
my()

this is my name

In [31]:
""" this is my name 
    df
    df
    df
    dfd """



print("this is my name ")

this is my name

In [32]:
def add(a, b):
    """
    This function adds two numbers.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.
    """
    return a + b

In [3]:
a= 3
b=7
c=8
print(a)
print(b)
for i in range(5):
 print(i)
print(c)

IndentationError: expected an indented block after 'for' statement on line 6 (1357732073.py, line 7)

In [4]:
a = 3
b= 6
c= 9

In [8]:
print(a)
print(b)
for i in range(5):
    print(i)
print(c)

3
6
0
1
2
3
4
9

In [10]:
if a == 3:
    print("a is 3")
else:
    print("a is not 3")

a is 3

In [ ]:
def fun():
    print("hello")

In [11]:
a = 5
type(a)

int

In [13]:
b="hello"
type(b)

str

In [16]:
c=str(a)

In [17]:
type(c)

str

In [18]:
a = 5

In [20]:
b = input("enter a number")
print(b)

4

In [21]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
type(b)

str

In [23]:
b

'4'

In [28]:
b=int(b)

In [29]:
a+b

9

In [ ]:
str() , int() ,complex() , bool() ,list() , tuple() , set() , dict()

In [31]:
v= "prince "

In [35]:
l = list(v)
print(l)

['p', 'r', 'i', 'n', 'c', 'e', ' ']

In [34]:
type(l)

list

In [ ]:
print()

# print()

In [55]:
a = 5 ,3+4j , True, [2,3,4], "pirnt"
print(a)

(5, (3+4j), True, [2, 3, 4], 'pirnt')

In [61]:
a = 5 ,3+4j , True, [2,3,4], "pirnt"

b= print(a)
type(b)

(5, (3+4j), True, [2, 3, 4], 'pirnt')

NoneType

In [62]:
a = 5 ,3+4j , True, [2,3,4], "pirnt"
print(a)

(5, (3+4j), True, [2, 3, 4], 'pirnt')

In [68]:
print(5 ,3+4j , True, [2,3,4], "pirnt" ,sep=" = ")

5 = (3+4j) = True = [2, 3, 4] = pirnt

In [73]:
print(5 ,3+4j , True, [2,3,4], "pirnt" ,end = " :  ")
print("this si python class")

5 (3+4j) True [2, 3, 4] pirnt :  this si python class

# input

In [75]:
a = input()
print(a)

5

In [79]:
a = input("enter a number")
print(a)
type(a)

4

str

In [95]:
a = input("enter a string value")
print(a)
c=int(a)
type(c)

6

int

In [78]:
type(a)  # input function always return a string value

str

In [92]:
a,b = input("enter two numbers").split()
a

'2'

In [93]:
b

'5'

In [96]:
a = int(input("enter a string value"))

In [97]:
type(a)

int

In [12]:
name = "prince katiyar"
age = 25
city = "bangalore"

In [13]:
print("my name is {} and my age is {} and my city is {}".format(name,age,city))

my name is prince katiyar and my age is 25 and my city is bangalore

In [14]:
print(f"my name is {name} and my age is {age} and my city is {city}")

my name is prince katiyar and my age is 25 and my city is bangalore

# operators

In [15]:
a = 5 
b = 2

a/b

2.5

In [16]:
#floor division 
a//b

2

In [17]:
a%b  # modulus

1

In [18]:
a**b  # exponential operator

25

In [19]:
a = 5 
a += 1

In [20]:
a

6

In [22]:
a-=1
a

4

In [31]:
a = 5
b = 8
c=3

a>b

False

In [27]:
a>=b

True

In [29]:
b>=a

True

In [32]:
a+b >c

True

In [34]:
a>3 and b>10  # a =5 and b = 8

False

In [35]:
a>3 or  b>10

True

In [36]:
a = 3
b= 2

a&b

2

In [37]:
a|b

3

# identity and membership

In [38]:
a = 5
b = 5 

a is b

True

In [42]:
a = "prince"
b = "prince"

a is not b

False

In [41]:
a = [1,2,3]
b= [1,2,3]

a is not b

True

In [43]:
a= "prince"

In [48]:
print("m" not in a)

True

In [49]:
l = [1,2,3,4,5,6,7,8,9,10]
print(434 not in l)

True